{% extends "layout.html" %}

{% block title%}
    Histories
{% endblock %}


{% block main %}
<h2 style="color:red;">Your Histories</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transaction</th>
            </tr>
        </thead>
        <td>
            {% for stock in stocks %}
            <tr>
                <td>{{stock.symbol}}</td>
                <td>{{stock.name}}</td>
                <td>{{stock.shares}}</td>
                <td>{{stock.per_share}}</td>
                <td>{{stock.timeStamp}}</td>
                </td>
            </tr>
            {% endfor %}

        </td>
    </table>
{% endblock%}