{% extends "layout.html" %}

{% block title%}
    Histories
{% endblock %}


{% block main %}
    <table class="table">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transaction</th>
            </tr>
        </thead>
        <td>
            <tr>
                <td>{{ History.symbol }}</td>
                <td>{{ History.name }}</td>
                <td>{{ History.shares }}</td>
                <td>{{ History.per_share }}</td>
                <td>{{ History.timeStamp }}</td>
                </td>
            </tr>
        </td>
    </table>
{% endblock%}