{% extends 'layout.html' %}
{% block title %}
    Sell
{% endblock %}

{% block main %}
<form action="/sell" method="POST">
            <select class="form-control" name="symbol">
                <option disabled="" selected="" value="">Symbol</option>
            </select>
            <br><br>
            <input autocomplete="off" class="form-control" min="1" name="shares" placeholder="Shares" type="number">
            <br><br>
        <input id = "submit"class="btn btn-primary" type="submit" value = "Submit">

</form>
{% endblock %}