{% extends 'layout.html' %}

{% block title %}
    Setting
{% endblock %}

{% block main %}
    <h4>Change Password :</h4>
    <form action="/setting" method="post">
        <div class="form-group">
            <input type="password" id="name" name="old" class="form-control"  placeholder="enter old Password" autocomplete="off" autofocus onkeyup="manage(this)"/>
        </div>
        <div class="form-group">
            <input type="password" id="password" name="new_password" class="form-control"  placeholder="enter new Password" onkeyup="manage(this)" />
        </div>
        <div class="form-group">
            <input type="password" id="password1" name="confirm_npassword" class="form-control" placeholder="confirm new password" onkeyup="manage(this)" />
        </div>
        <input id="submit" class="btn btn-primary" type="submit" value = "Change Password">
    </form>
{% endblock %}